# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.shape

(537577, 12)

In [4]:
black_friday.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [5]:
#black_friday['Product_Category_2'].fillna(0,inplace=True)
#black_friday['Product_Category_3'].fillna(0,inplace=True)

In [6]:
#(black_friday.query('Gender == "F" and Age == "26-35"')).shape[0]

49348

In [13]:
len((pd.unique(black_friday['User_ID'])))

5891

In [17]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [24]:
black_friday['Gender'].dtype
black_friday['User_ID'].dtype

dtype('int64')

In [26]:
black_friday['Product_Category_2'].isna().sum()

166986

In [27]:
black_friday['Product_Category_3'].isna().sum()

373299

In [31]:
black_friday['Product_Category_3'].value_counts()

16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64

In [27]:
df_norm = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())

In [36]:
df_norm.mean()

-3.8273018982800276e-17

In [52]:
(df_norm.all() > -1 and df_norm.all() <1).sum()

0

In [54]:
df_norm.value_counts()

-0.104259    186
-0.097698    185
-0.102745    182
-0.090043    182
-0.103249    181
            ...
-0.037301      1
-0.017491      1
-0.152837      1
 0.603472      1
 0.242982      1
Name: Purchase, Length: 17959, dtype: int64

In [9]:
#black_friday.query('Product_Category_3 != "NaN" and Product_Category_2 == "NaN" ')

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3, Purchase]
Index: []

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [ ]:
def q1():
    
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [ ]:
def q2():
    (black_friday.query('Gender == "F" and Age == "26-35"')).shape[0]
    # Retorne aqui o resultado da questão 2.
    return (black_friday.query('Gender == "F" and Age == "26-35"')).shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [ ]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return len((pd.unique(black_friday['User_ID'])))

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [ ]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return 3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [13]:
def q5():
    sum = (black_friday['Product_Category_3'].isna().sum())
    total = black_friday.shape[0]
    porc = sum/total
    # Retorne aqui o resultado da questão 5.
    return float(porc)

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [15]:
def q6():
    maiorNull = black_friday['Product_Category_3'].isna().sum()
    # Retorne aqui o resultado da questão 6.
    return int(maiorNull)

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [22]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return 16

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [28]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return float(df_norm.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [ ]:
def q9():
    # Retorne aqui o resultado da questão 9.
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [ ]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return True