# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
from sklearn.preprocessing import (
    OneHotEncoder, Binarizer, KBinsDiscretizer,
    MinMaxScaler, StandardScaler, PolynomialFeatures)
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Algumas configurações para o matplotlib.
#%matplotlib inline

#from IPython.core.pylabtools import figsize


#figsize(12, 8)

#sns.set()

In [3]:
countries = pd.read_csv("countries.csv")

In [4]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head(5)

           Country                               Region  ...  Industry  Service
0     Afghanistan         ASIA (EX. NEAR EAST)           ...      0,24     0,38
1         Albania   EASTERN EUROPE                       ...     0,188    0,579
2         Algeria   NORTHERN AFRICA                      ...       0,6    0,298
3  American Samoa   OCEANIA                              ...       NaN      NaN
4         Andorra   WESTERN EUROPE                       ...       NaN      NaN

[5 rows x 20 columns]

In [5]:
#countries.dropna(inplace=True)
#countries.isna().sum()

In [6]:
countries.head(10)

              Country                               Region  ...  Industry  Service
0        Afghanistan         ASIA (EX. NEAR EAST)           ...      0,24     0,38
1            Albania   EASTERN EUROPE                       ...     0,188    0,579
2            Algeria   NORTHERN AFRICA                      ...       0,6    0,298
3     American Samoa   OCEANIA                              ...       NaN      NaN
4            Andorra   WESTERN EUROPE                       ...       NaN      NaN
5             Angola   SUB-SAHARAN AFRICA                   ...     0,658    0,246
6           Anguilla               LATIN AMER. & CARIB      ...      0,18     0,78
7  Antigua & Barbuda               LATIN AMER. & CARIB      ...      0,22    0,743
8          Argentina               LATIN AMER. & CARIB      ...     0,358    0,547
9            Armenia                  C.W. OF IND. STATES   ...     0,343    0,418

[10 rows x 20 columns]

In [7]:
countries.iloc[:,[4,5,6,7,9,10,11,12,13,14,15,16,17,18,19]] = countries.iloc[:,[4,5,6,7,9,10,11,12,13,14,15,16,17,18,19]]\
                                                                    .apply(lambda x: x.str.replace(',' , '.'))\
                                                                    .astype(float)

In [8]:
countries.dtypes

Country              object
Region               object
Population            int64
Area                  int64
Pop_density         float64
Coastline_ratio     float64
Net_migration       float64
Infant_mortality    float64
GDP                 float64
Literacy            float64
Phones_per_1000     float64
Arable              float64
Crops               float64
Other               float64
Climate             float64
Birthrate           float64
Deathrate           float64
Agriculture         float64
Industry            float64
Service             float64
dtype: object

In [9]:
# Removendo espaços desnecessários das colunas Country e Region com a função str.strip
countries.loc[:,['Country', 'Region']] = countries.loc[:,['Country', 'Region']].applymap(str.strip)

In [10]:
countries.head()

          Country                Region  ...  Industry  Service
0     Afghanistan  ASIA (EX. NEAR EAST)  ...     0.240    0.380
1         Albania        EASTERN EUROPE  ...     0.188    0.579
2         Algeria       NORTHERN AFRICA  ...     0.600    0.298
3  American Samoa               OCEANIA  ...       NaN      NaN
4         Andorra        WESTERN EUROPE  ...       NaN      NaN

[5 rows x 20 columns]

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

## Inicia sua análise a partir daqui

In [11]:
# Sua análise começa aqui.

In [12]:
countries.Region.value_counts()

SUB-SAHARAN AFRICA      51
LATIN AMER. & CARIB     45
WESTERN EUROPE          28
ASIA (EX. NEAR EAST)    28
OCEANIA                 21
NEAR EAST               16
EASTERN EUROPE          12
C.W. OF IND. STATES     12
NORTHERN AFRICA          6
NORTHERN AMERICA         5
BALTICS                  3
Name: Region, dtype: int64

In [13]:
lista = list(countries['Region'].drop_duplicates())
lista

['ASIA (EX. NEAR EAST)',
 'EASTERN EUROPE',
 'NORTHERN AFRICA',
 'OCEANIA',
 'WESTERN EUROPE',
 'SUB-SAHARAN AFRICA',
 'LATIN AMER. & CARIB',
 'C.W. OF IND. STATES',
 'NEAR EAST',
 'NORTHERN AMERICA',
 'BALTICS']

In [14]:
lista2 = list(countries['Region'].unique())
lista2

['ASIA (EX. NEAR EAST)',
 'EASTERN EUROPE',
 'NORTHERN AFRICA',
 'OCEANIA',
 'WESTERN EUROPE',
 'SUB-SAHARAN AFRICA',
 'LATIN AMER. & CARIB',
 'C.W. OF IND. STATES',
 'NEAR EAST',
 'NORTHERN AMERICA',
 'BALTICS']

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [15]:
def q1():
    # Retorne aqui o resultado da questão 1.
    lista2.sort()
    return lista2

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [16]:
est = KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile')
xt = est.fit_transform(countries[['Pop_density']])

In [17]:
#selecionando o quartil 90°
quartile = np.quantile(xt, 0.9)
quartile

8.400000000000006

In [18]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return xt[xt > quartile].shape[0]

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [29]:
# Removendo Valores NAN
countries1 = countries.dropna()


# Configurando o encoder
encoder = OneHotEncoder(sparse=False, dtype=np.int )
    
# Aplicando o encoder nas colunas Region e Climate
data_encoded = encoder.fit_transform(countries1.loc[:,['Region','Climate']])

Country             0
Region              0
Population          0
Area                0
Pop_density         0
Coastline_ratio     0
Net_migration       0
Infant_mortality    0
GDP                 0
Literacy            0
Phones_per_1000     0
Arable              0
Crops               0
Other               0
Climate             0
Birthrate           0
Deathrate           0
Agriculture         0
Industry            0
Service             0
dtype: int64

In [20]:
data_encoded.shape[1]

17

In [21]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return data_encoded.shape[1] +1

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [22]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

In [23]:
def q4():
    # Retorne aqui o resultado da questão 4.
    # Sequencia de funções (Pipeline)
    num_pipeline = Pipeline(steps=[
        ("imputer", SimpleImputer(strategy="median")),
        ("scaler", StandardScaler())])

    # Treinando o pipeline
    num_pipeline.fit(countries.select_dtypes(include=['float64','int64']))

    # Aplicando o pipeline
    transf = num_pipeline.transform([test_country[2:]])

    
    # Aplicando o pipeline e retornando o valor arredondado
    return float(transf[0][9].round(3))

In [24]:
q4()

-1.047

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [25]:
def q5():
    # Retorne aqui o resultado da questão 4.

    # Quartis de 25% e 75%
    q1 = countries['Net_migration'].quantile(0.25)
    q3 = countries['Net_migration'].quantile(0.75)
    
    # Interquantile range
    iqr = q3 - q1

    # Aplicando a formula para calcular os limites que os dados deveriam estar
    inf_interval = q1 - 1.5 * iqr
    sup_interval = q3 + 1.5 * iqr
    
    # Calculando quantidades de outliers fora desses limites
    inf_outlier = int((countries['Net_migration'] < inf_interval).sum())
    sup_outlier = int((countries['Net_migration'] > sup_interval).sum())
    
    # Retornando o resultado
    return (inf_outlier, sup_outlier, False)

In [26]:
q5()

(24, 26, False)

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [30]:
# Importando biblioteca para contar as palavras
from sklearn.feature_extraction.text import CountVectorizer

# Importando a biblioteca fetch_20newsgroups
from sklearn.datasets import fetch_20newsgroups

In [32]:
# Selecionando os datasets
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)

In [40]:
def q6():
    # Retorne aqui o resultado da questão 4.
    # Chamando a função
    vectorizer = CountVectorizer()
    
    # A função recebe o conjunto de dados
    X = vectorizer.fit_transform(newsgroup.data)
    
    

    # Retornando a quantidade de vezes que a palavra phone aparece
    return int(X[:,vectorizer.vocabulary_['phone']].sum())

int

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [42]:
# Importando biblioteca
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
def q7():
    # Retorne aqui o resultado da questão 4.
    
    # Chamando a função
    vectorizer = TfidfVectorizer()
    
    # A função recebe o conjunto de dados 
    x = vectorizer.fit_transform(newsgroup.data)
    
    # Retornando o valor
    return round(x[:,vectorizer.vocabulary_['phone']].sum(),3)